*,                               /*always start with this code to take away the extra spacing in your site*/
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

main {
    background-color: black;
    color: white;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;

}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
}

.hero {
    background-color: darkcyan;
    padding-top: 100px;
    height: 200px;
    text-align: center;
    
}

button {
    text-align: center;
    color: black;
  }

  .personal-training {
      text-align: center;
      background-color: black;
      color: darkcyan;
      font-size: 30px;

      /* padding-top: 50px;
      padding-bottom: 50px; */
  }

  hr {
      margin: 0%;
      padding: 0%
  }

body {
    background-color: black;
}